
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">WellCome to My Todo App</a>

    <!-- Links -->
    <ul class="navbar-nav" style="margin-left:auto">
        <li class=" nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="logout">log out</a>
        </li>


    </ul>
</nav>